---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: vqa-app
  namespace: vqa-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vqa-app
  template:
    metadata:
      labels:
        app: vqa-app
    spec:
      containers:
      - name: vqa-app
        image: ${VQA_IMAGE}
        ports:
        - containerPort: 8000
        resources:
          limits:
            nvidia.com/gpu: 1
        env:
        - name: HF_TOKEN
          valueFrom:
            secretKeyRef:
              name: openbmb-minicpm-secret
              key: HF_TOKEN

